body, h1, h2, h3, p, ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
}

.menu {
  background: #252525;
  padding: 20px 0;
}
.menu-container {
  max-width: 960px;
  margin: 0 auto;
}
.menu-container::after, .menu-container::before {
  content: '';
  display: table;
  clear: both;
}
.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}
.menu-nav {
  float: right;
  margin-right: 10px;
}
.menu-nav ul li {
  display: inline-block;
}
.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}

.intro {
  background: url(../../img/bg-intro.jpg) no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  color: white;
  text-align: center  ;
}
.intro h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  color: white;
}
.intro h1::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: white;
  margin: 10px auto;
}
.intro p {
  font-style: italic;
  font-size: 1.125em;
}

.about {
  padding: 60px 0;
}
.about-container {
  max-width: 960px;
  margin: 0 auto;
}
.about-container::after, .about-container::before {
  content: '';
  display: table;
  clear: both;
}
.about h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}
.about-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}
.about-item img {
  display: block;
  max-width: 100%;
}
.about-item h3 {
  font-size: 2.25em;
  line-height: 1em;
  background-color: #252525;
  width: 220px;
  color: white;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px 0;
  position: relative;
  top: -25px;
}
.about > p {
  font-size: 1.125em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

.products {
  background-color: #E7E4D8;
  padding: 60px 0;
  border-top: 3px solid #D6D3C8;
  border-bottom: 3px solid #D6D3C8;
}
.products-container {
  max-width: 960px;
  margin: 0 auto;
}
.products-container::after, .products-container::before {
  content: '';
  display: table;
  clear: both;
}
.products-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}
.products-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}
.products-item h2::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background: currentColor;
  border-radius: 50%;
  border: 5px solid #E7E4D8;
  box-shadow: 0 0 0 10px currentColor;
}
h2.products-paulista::before {
  color: #492901;
}
h2.products-carioca::before {
  color: #C17139;
}
h2.products-mineiro::before {
  color: #D7A54D;
}
.products-item p {
  font-size: 0.875em;
  line-height: 1.4rem;
}
.products-btn {
  width: 180px;
  border: 3px solid #252525;
  color: #252525;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.125em;
  margin: 20px auto 0 auto;
  padding: 15px 0;
}

.local {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}
.local-item {
  clear: both;
  margin: 60px auto;
}
.local-item::after, .local-item::before {
  clear: both;
  display: table;
  content: '';
}
.local-item img {
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}
.local-item > div{
  width: 460px;
  float: left;
  margin: 0 10px;
}
.local-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}
.local-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}
.local-item a {
  font-size: 1.125em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #252525;
  border: 3px solid;
  padding: 10px 20px;
}

.newsletter {
  background: #E7E4D8;
  padding: 30px 0;
}
.newsletter-container {
  max-width: 960px;
  margin: 0 auto;
}
.newsletter-container::after, .newsletter-container::before {
  content: '';
  display: table;
  clear: both;
}
.newsletter-info {
  width: 460px;
  margin: 0 10px;
  float: left;
}
.newsletter-info h2 {
  font-size: 2.25em;
}
.newsletter-info p {
  font-size: 1.5em;
  font-style: italic;
}
.newsletter-form {
  width: 460px;
  margin: 8px 10px 0 10px;
  float: left;
}
.newsletter-form label {
  display: none;
}
.newsletter-form input {
  box-sizing: border-box;
  width: 320px;
  background: none;
  border: 3px solid #252525;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: left;
  outline: none;
  padding: 10px;
}
.newsletter-form button {
  background: #252525;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 140px;
  padding: 13px 0;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer {
  background: #D6D3C8;
  padding: 40px 0;
}
.footer-container {
  max-width: 960px;
  margin: 0 auto;
}
.footer-container::after, .footer-container::before {
  content: '';
  display: table;
  clear: both;
}
.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}
.footer img {
  float: right;
  margin: 0 10px;
  display: block;
}

@media (min-width: 740px) and (max-width: 980px) {
  .about-container {
    max-width: 720px;
  }
  .about-item {
    width: 340px;
  }

  .products-container {
    max-width: 720px;
  }
  .products-item {
    width: 220px;
  }

  .local {
    max-width: 720px;
  }
  .local-item > div, .local-item img {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .menu-nav {
    float: none;
    clear: both;
  }

  .intro {
    padding: 60px 0;
  }

  .about-container {
    max-width: 300px;
  }
  .about-item {
    width: 300px;
    margin: 0 auto;
  }

  .products-container {
    max-width: 300px;
  }
  .products-item {
    margin: 0 auto 20px auto;
  }

  .local {
    max-width: 300px;
  }
  .local-item > div, .local-item img {
    width: 300px;
  }
}