body, p, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}


.header-info {
  font-size: 0.875em;
  text-align: center;
  background-color: #D6D3C8;
  padding: 5px 0;
}
.header-logo img {
  display: block;
  margin: 40px auto;
}